<div class="wikidoc">
<p><strong>v2.3.1.1 released</strong></p>
<p><strong>fixed a bug found by user: Ironmanss,&nbsp;&nbsp;that a movie without a year would cause an error. &nbsp;Thanks for the help finding it.</strong></p>
<p><strong>v2.3.1 released</strong></p>
<p><strong>fixed various bug fixes, made the search much better by searching movies for years and changing the aggressiveness of the search.</strong></p>
<p><strong>v2.3.0.1 is released</strong></p>
<ul>
<li>fixed a display bug that wasn't showing the details window correctly. </li><li>fixed the autoupdate notification, <strong>you must download this version to get autoupdating notification to work again.</strong>
</li></ul>
<p>v2.3 is released.</p>
<p>v2.3</p>
<ul>
<li><strong>Added Autoupdating and then removed it, Codeplex doesn't support autoupdating except for via ClickOnce, but clickonce requires code signatures, which cost me about $200/year and that is money I'm not willing to spend just so the code doesn't warn
 you of impending doom :)&nbsp;&nbsp;<em>If you installed the clickonce release, i recommend uninstalling it completely and then using this one (unzip and just run)</em></strong>
</li><li>Added episodes with greater than 100 eps per season </li><li>Added handling 3 digit and 4 digit movie names (ie. 300)... this is experimental and might fail, please let me know
</li><li>Added Substitutions to the options, you can now sub out and &amp; for an and, use with caution. these are available in the options tab to play with. this does require a new config file, or just copy that one section over.
</li></ul>
<p>v2.2 is released.</p>
<p>This is the final maintenance release for the update the API.<br>
New features added:<br>
<strong>1. add your own jpgs before you save (or after, I'm an update not a cop)</strong><br>
2. fixed the hour min problem introduced in 2.1.x<br>
3. fixed several other little bugs<br>
4. supports specials now, they are listed in tvdb.org as season 0 plus and episode, if you put that in manually, it will find and fill...</p>
<p>&nbsp;</p>
<p>v.2.1.6maint is out: this addresses the thumb size issue. several of you have reported the tool not finding certain movies we know are there, also some automated challenges. &nbsp;it appears that tmdb changed their search algorithm. &nbsp;I will be working
 on finding a better way to submit searches agressively.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>API problems, turns out the api we use to access movie info has been deprecated, we will get a patch out tonight or tomorrow if possible. &nbsp;</p>
<p>New alpha v2 is out, this is for testing purposes, download at your own risk (shouldnt' break anything, but still testing it). &nbsp;if you find any errors, please comment in the issues log on existing or new issues. &nbsp;working to get a stable release
 out in the next few days.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Big News! &nbsp;I'm currently doing a ground up rewrite of the software, removing all third party gui stuff and adding management, playback and organizational sections... this version will be running on .net 4 or 4.5, not sure yet. &nbsp;I have so many great
 bits of feedback but the&nbsp;code base&nbsp;was pretty unwieldy so I decided to rewrite. &nbsp;If you have ideas or suggestion, now is the time to spam me with them, I'll prioritize them and try to incorporate as much as I can.</p>
<p>&nbsp;</p>
<p><span style="color:#ff0000">*** Note *** Version 2.1.2 Adding a quick maintenance release to allow for &quot;renaming&quot; back to the original filename incase it processes incorrectly and chooses a dramatically different name. &nbsp;The processing engine stores
 the pre-changed filename in the xml, this simply &quot;renames&quot; the movie file back to the name before it was processed, you then process again manually to get the correct name.</span></p>
<p>&nbsp;</p>
<p><span style="color:#ff0000"><strong><span style="color:#808080">*** note *** a renaming bug was identified and was fixed in v1.2, if you have any version prior to 1.2 please download now and replace all&nbsp; Upgrade to v2.1 if you need the best code base</span><br>
</strong></span></p>
<p><strong>Project Description</strong><br>
a batch processor for getting metadata and thumbs and subtitles for a wdtv live hub. processes both movies and tv shows, supports many languages and uses
<a href="http://www.themoviedb.org" target="_blank">themoviedb.org</a> and <a href="http://thetvdb.com" target="_blank">
thetvdb.com</a> and opensubtitles.org</p>
<p>A lot of people have worked on creating tv show and movie xml generators, I decided to create both, I have been working on this during my plane rides (I travel a lot) for the last month.</p>
<p>This program also does a lot of parsing to make the files easier to lookup and even aggressively looks up filenames where there are download tags and such.</p>
<p><strong>Version 2.1 </strong><br>
<br>
Manual Lookup with TV or Movie (finally huh!), you can look up a movie or TV episode directly, you can right click on anythign, and choose manual lookup, then will allow you to type anything you want to look up and it will assign it to the file you right clicked.
<img src="http://i.imgur.com/0lA9D.png" alt="" width="247" height="164"></p>
<p><br>
<img src="http://i.imgur.com/09aGN.png" alt="" width="548" height="181"> No Rename: a very popular request, this is an option you can set so that the original name is kept regardless of what is found.<br>
Previous Directories (if you are clever) you will notice a drop down box for the directory path now, and as you type it puts in old ones. this is in a file called directorylist.xml and will allow you to have saved favorites that you might always be looking
 up from. the file is created on first use.<br>
I think i might have fixed the parsing error on the tv lookup. The problem was that when you looked up a newish episode, thetvdb.org episode request doesn't work on really new stuff, yet, i was able to find it elsewhere and use it. this is leading to a new
 cache architecture underneath and will result in much faster large lookups in the future.<br>
<br>
I did not mess with process all, most of the updates in this release are aimed at the hardcore folks that want to look up one at a time.<br>
<br>
Please tell me what features I missed and I'll start working on them next.</p>
<p>&nbsp;</p>
<p><strong>Version 2.0</strong> (click on the right) this uses V4.0 of .net (<a href="http://www.microsoft.com/downloads/en/confirmation.aspx?FamilyID=9cfb2d51-5ff4-4491-b0e5-b386f32c0992&displaylang=en" target="_self" rel="nofollow">download here</a>)</p>
<p>Version 2.0 adds the following features: (apologize if I forget some, added a lot of little things)</p>
<ol>
<li>Unified View, no longer is there a separate movie and tv tab, they are both processed in same tab now called Video.&nbsp; This unification greatly simplified the code base and should unify the experience some.&nbsp; This was done in preperation of v2.1
 which I'm expanding to including music tagging. </li><li>Aggressive Lookup expanded.&nbsp; before if a movie wasn't found, you could either rename it to make it better, or use &quot;aggressive lookup&quot; to find the first &quot;n&quot; words (defined in options), now there is an option to automatically go aggressive after a movie
 lookup has failed. i recommend turning it on. </li><li>improved parsing of files names to aid in lookup.&nbsp; probably didn't know that the program parses the input filename and attempts to &quot;clean&quot; it up for lookup.
</li><li>Added an option to &quot;toggle&quot; hidden JPGs, this is for use with the older models (not the hub) and allows the movies to be thumbnailed without the thumbs showing up.&nbsp; This works by toggling an entire directory (and sub directories), so use with caution.
</li><li>Shows a &quot;type&quot; icon in the listview.&nbsp; This is either a movie (film strip) or a TV show (lcd tv icon)
</li><li>DescriptionTemplate added. this allows you to Load the description with content that we have but for some reason isn't displayed on the hub, like mpaa and movie rating.
</li></ol>
<p>Also added quite a bit of bug checking and updates that are too small to mention, but the program runs a lot cleaner now.</p>
<p>&nbsp;</p>
<p><strong>Version 1.2</strong> (click to the right) this uses V4.0 of .net&nbsp; (<a href="http://www.microsoft.com/downloads/en/confirmation.aspx?FamilyID=9cfb2d51-5ff4-4491-b0e5-b386f32c0992&displaylang=en" target="_self" rel="nofollow">download here</a>)<br>
Version 1.2 adds the following features:<br>
<br>
1. Card View<br>
2. Zoom (allows you to specify how big the list is going to be and which size thumb to use in the list, can also be used to show card view)<br>
3. Sorting on date processed<br>
4. Fixed renaming bug introduced in v1.1<br>
5. Option to turn backgrounds off<br>
6. Cleaned up some bugs others have pointed out to me.<br>
7. Added handling of shows without thumbnails</p>
<p>Screenshot of new zoom</p>
<p><img src="http://i.imgur.com/Y5dec.jpg" alt="" width="220" height="192"></p>
<p>With Version 1.0.3 and above you are downloading a zip file that you just unzip in a directory (your choice where) and then run the WDTVHubGen.exe file, if you have .net 4 installed, it should just work and launch. Sorry for all of hte issues with the previous
 versions.&nbsp; FEEDBACK is very welcome.</p>
<p>Release Versions:</p>
<p>Version 1.0.0&nbsp; - initial Release</p>
<p>Version 1.0.1 - added support in the config file for all type of movies supported by the Hub.</p>
<p>Version 1.0.3 - added log support to try and figure out this install program. Removed the installer. Updated a save button bug.</p>
<p>Version 1.0.5 - added some code to better support logging and error correction, also added a fix to the Badly formed XML problme created by the Hub, (those files appear unprocessed, but can be processed by the program now)</p>
<p>Version 1.0.6 - added more aggressive handling of tv show names. now everything after season and episode numbers will be ignored during the lookup for thetvdb.org... i.e.&nbsp; Californication S01E01 - The pilot&nbsp; will only send Californication to the
 lookup with season 1 and episode 1.</p>
<p>Version 1.0.7 - Added recursive directory handling, improved season/episode handling, adding substitutions (for things like **bleep** my dad says or $#*! my dad says), added an options tab so no more editing the .config file, improved error handling, fixed
 minor bugs, improved status reporting while running.</p>
<p>Version 1.0.8 - Big Release: - Added Language Support on the movies and tvshows, selected optionally by the user (support for english, german, italian, portuguese, spanish, french, russian, chinese, dutch), Added file template support for movies by title,
 file and shows by title and file.&nbsp; Added overlay support on the tv show episode jpg. Logging now supports 3 modes (verbose, errors, none), added support for combined movie/tv directories, better handling of oddly named files.&nbsp; Added significant UI
 feedback when the program is busy. Numerous bug fixes.</p>
<p><strong>Version 1.0.9</strong><br>
Version 1.0.9 adds the following features:<br>
1. Automated handling of multiple returned shows/movies, if during automation more than one show pops up, you will be presented with a dialog box to select the one you want, and that selection is remember for any subsequent shows of the same name for that automation
 run<br>
2. User selected multiple selection, used to use arrows to move between choices, now a dialog box prompts for correct choice for both movies and tv shows...
<br>
3. Added support for not saving the jpg in the directory for movies or tv shows in case the user has their own jpgs<br>
4. Overlay support for series, doesn't save to folder.jpg any more<br>
5. Better reporting and Status during automation<br>
6. Better TV automation speed, cache similar shows to speed up process<br>
7. Added support to prompt for series folder, when saving a series folder . jpg<br>
8. fixed sizing of tv show jpgs (recommend deleting all xml and jpgs for a series and rerunning)<br>
9. fixed bugs with recursive directory matching.</p>
<p>Version 1.1 adds the following features:</p>
<ol>
<li>VOB support (when a dvd vob set are in a seperate directory), now updates correctly and renames the directory and puts up metadata and pictures.
</li><li>Right click to open file location </li><li>Added a few more options </li><li>Added episode and season number templates with no leading zeros </li><li>fixed numerous handling bugs </li><li>Added a small slide show of backdrops for movies </li></ol>
<p>This is available to you freely, I have used MovieDB.org and theTVDB.org as sources and tried to make this a &quot;simple&quot; as possible.</p>
<p>A couple of features:&nbsp; When a movie title is loaded (from a directory) the program attempts to parse out the &quot;garbarge&quot; that uploaders put on, if I missed any you can update the app.config xml and add your own exclusions.&nbsp; After I get the &quot;clean
 file&quot; name I then attempt to get the info from movie db, if several movies come back, you can browse them and pick the one you want, as well as picking the thumbnail you want.&nbsp; Also you can just tell the program to &quot;go for it&quot; and will process an entire
 directory.&nbsp; I also use the objectlistview (a visual component) to put the un-categoriezed and processed movies at the top.</p>
<p>For TV shows, the process is very very similar, except I also parse for season and episode then attempt to get that specific info as well as some screen shots.</p>
<p>The reason i did this structure for TV is that i put the season cd box automatically on each season when You save an episode for that season, and I added a button that puts series info at the top of the directory.</p>
<p>&nbsp;</p>
<p>Overall i added a lot of features including:</p>
<ul>
<li>- inline renaming of files </li><li>- full sorting and such </li><li>- aggressive lookup (use with caution on movies) </li><li>- thumbnail selection and choices </li><li>- simple interface. </li><li>- Automatically determines if the name includes cd1 and cd2 and will add two entries with same data but marked as CD1 and CD2.
</li><li>- The configuration file contiains many options </li></ul>
<p>I use the libraries for TheMovieDBLib which I have modified to work with languages, http://themoviedbapi.codeplex.com/ for full license and details.
<br>
&nbsp;&nbsp;&nbsp; Also had to modify to work with v2.1 of the api which changed some minor things
<br>
&nbsp;&nbsp;&nbsp;&nbsp; I also use the tvdblib api class for thetvdb.com http://code.google.com/p/tvdblib/ for full details and license<br>
&nbsp;&nbsp;&nbsp;&nbsp; FInally using the ObjectListView for the cool interface objects...&nbsp; * ObjectListView - A listview to show various aspects of a collection of objects<br>
&nbsp;&nbsp;&nbsp;&nbsp; Author: Phillip Piper, full website: http://objectlistview.sourceforge.net/cs/index.html for full details and license<br>
&nbsp;&nbsp;&nbsp;&nbsp; Finally i have had a lot of help in debugging the members of the community.wdc.com forum! thanks guys</p>
</div><div class="ClearBoth"></div>