<div class="wikidoc">
<p>Documentation is coming. here is a starter:</p>
<p>I’m going to attempt to create a tutorial for using the features of WDTVHubGen (called hubgen from here on out). This documentation applies to version 1.2 currently.</p>
<p>Step #1. Run the program</p>
<p><a href="http://download.codeplex.com/download?ProjectName=wdtvhubgen&DownloadId=231802"><img title="startscreen.v1.2" border="0" alt="startscreen.v1.2" src="http://download.codeplex.com/download?ProjectName=wdtvhubgen&DownloadId=231803" width="244" height="164" style="border-bottom:0px; border-left:0px; padding-left:0px; padding-right:0px; display:inline; border-top:0px; border-right:0px; padding-top:0px"></a></p>
<p>After starting the program you will see the following screen, the first thing you need to do is point the movies tab to your current directory for editing</p>
<p>Press the … button <a href="http://download.codeplex.com/download?ProjectName=wdtvhubgen&DownloadId=231804">
<img title="Directory and Get Movies Button.v1.2" border="0" alt="Directory and Get Movies Button.v1.2" src="http://download.codeplex.com/download?ProjectName=wdtvhubgen&DownloadId=231805" width="244" height="147" style="border-bottom:0px; border-left:0px; padding-left:0px; padding-right:0px; display:inline; border-top:0px; border-right:0px; padding-top:0px"></a></p>
<p>the program will pop up a directory browser</p>
<p><br>
<br>
Use the WDTVHubGen Program to do the following: </p>
<ul>
<li>find and save metadata and cover art for movies and tv shows </li><li>remove annoying uploader garbage in the filenames before searching </li><li>search over an entire directory or series of directories (using recursion) </li><li>rename files and search again </li><li>aggressively search (only use a few words at the beginning to search to find something, this only works for movies)
</li><li>find descriptions and titles in other languages </li><li>correctly size the thumbnails for download (fixing a bug in previous versions)
</li><li>add an episode number to the tv show thumbnail </li></ul>
</div><div class="ClearBoth"></div>